.entire-page {
  height: 100vh;
  width: 100vw;
  background-color: #000!important;
}
.header {
  color: #fff;
  font-family: 'Inconsolata';
  font-size: 1.5em;
  line-height: 2.8em;
  text-align: center;
}

.header-section {
  height: 50vh;
  width: 100vw;
  background-color: #eee!important;
  vertical-align:middle;
  text-align: center;
}

.header-section2 {
  height: 50vh;
  width: 30vw;
  background-color: #2ecc71!important;
  vertical-align:middle;
  text-align: center;
}

.title {
  padding-top: 27vh;
  font-family: 'Inconsolata'
}

a {
  text-decoration: none!important;
}
